h1,
h5,
td,
th,
label {
  color: white;
}

.h1 {
  font-weight: bold;
}

.btn-nuevo-game,
.btn-index {
  margin: 15px 50px 20px 0;
}

.btn-index {
  height: 30px;
}

.btn-nuevo-game,
.btnEditGame,
.btnDeleteGame,
.btn-index {
  display: inline-block;
  background-color: #27b424;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  text-decoration: none;
  padding: 3px 10px;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bolder;
}

.btn-nuevo-game:hover,
.btnEditGame:hover,
.btnDeleteGame:hover,
.btn-index:hover {
  background-color: #31dd2e;
  color: black;
  border: 2px solid black;
  text-decoration: none;
}

td,
th {
  color: white;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: #1f2022;
}

.btnsavegame {
  background: #27b424;
  color: black;
  font-weight: bolder;
  border-color: #27b424;
}

.btnsavegame:hover {
  background: #2ed12b;
  color: black;
  font-weight: bolder;
  border-color: #2ed12b;
}

.btnclosemodal {
  font-weight: bolder;
}
