.gradient-custom-3 {
  /* fallback for old browsers */
  background: black;
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #27b424;
}

.card-body {
  background-color: #1f2022;
}

h2,
label {
  color: white;
}

.inicio {
  padding-top: 10px;
  text-decoration: none;
  color: #27b424;
}
